@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

/* .swiper-pagination-bullet > p {
  content: "a";
}

.swiper-pagination-bullet-active > p {
  content: "b";
}

.pagination-bullet {
  width: 1.5rem;
  margin: 0 0.1rem;
} */
/* 
.pagination-bullet {
  width: 1.5rem;
  margin: 0 0.1rem;
} */


